* {
  margin: 0px;
}

body {
  background-color: rgb(20, 30, 55);
}

h1 {
  color: rgb(227, 227, 207);
}

p {
  
  color: rgb(227, 227, 207);
}

.main-container {
  margin-top: 45vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}
